textarea{
    resize: none;
  }
  .inputMargin{
    margin-bottom:-10px;
  }
  .logoreg{
    margin-top: 30px;
  }
  .black{
    background-color: black;
  }
  .red{
    background-color: brown;
    border: brown;
  }
 .redtext{
  color: brown;
 }
 .logoreg img{
  height: 200px;
 }
 .dropdown-menu{
  left: 0;
  
 }